@charset "UTF-8";
/* CSS Document */

html {
	background-color: #000000;
}

.heading {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	text-align: center;
	font-size: 44px;
	color: #23272a;
	background-color: #ffffff;
}

.comic {
	position: relative;
    	display: grid;
    	grid-template-columns: 250px 250px 250px 250px;
	grid-template-rows: 250px 250px 250px 250px;
    	grid-column-gap: 40px;
    	grid-row-gap: 40px;
    	text-align: center;
    	font-size: 20px;
    	justify-content: center;
}

.disapear {
	display: none;
}

.panel {
    	position: relative;
	background-color: transparent;
    	min-height: 250px;
	min-width: 250px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	transition: 0s 180s;
}

.panel-fancy {
    	position: relative;
	background-color: transparent;
	width: 1120px;
	height: 250px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	transition: 0s 180s;
}

.panel:hover {
	transition: 0s;
}

.panel-fancy:hover {
	transition: 0s;
}

#p-1:hover {
	background-image: url("https://jemtowns.github.io/p2-website/panel-1.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-2:hover {
	background-image: url("panel-2.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-3:hover {
	background-image: url("panel-3.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-4:hover {
	background-image: url("panel-4.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-5:hover {
	background-image: url("panel-5.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-6:hover {
	background-image: url("panel-6.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-7:hover {
	background-image: url("panel-7.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-8:hover {
	background-image: url("panel-8.png");
	background-color: whitesmoke;
	background-size: 250px;
	transition: 0s;
}
#p-9:hover {
	background-image: url("panel-9.png");
	background-color: whitesmoke;
	background-size: 1135px;
	transition: 0s;
}

.cake-box {
	text-align: center;
}

.box {
	position: relative;
}

button {
	background-color: #2c2f33;
	color: #99aab5;
	border: none;
	padding: 40px;
	font-size: 44px;
	text-align: center;
}

.button {
	text-align: center
}

button:hover {
	background-color: #18191b;
	color: #7a909f;
}
